<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.warshipmanagement.mapper.WarshipMapper">
    <delete id="deleteWarship" parameterType="map">
        DELETE
        FROM starship
        WHERE ID = #{ID}
    </delete>
    <select id="findWarshipById" parameterType="map">
        SELECT *
        FROM starship
        WHERE ID = #{ID}
    </select>
    <select id="findAllMyWarships" parameterType="map">
        SELECT *
        FROM user_has_starship,
             starship
        WHERE user_has_starship.USER_USERNAME = #{USERNAME}
          AND user_has_starship.STARSHIP_ID = starship.ID
    </select>
    <select id="findAllWarships">
        SELECT *
        FROM starship
    </select>
    <select id="findWarshipByName" parameterType="map" resultType="Warship">
        SELECT *
        FROM starship
        WHERE NAME = #{NAME}
    </select>

    <insert id="buyWarship" parameterType="map">
        INSERT INTO user_has_starship(USER_USERNAME, STARSHIP_ID)
        VALUES (#{USERNAME}, #{ID})
    </insert>
    <delete id="saleWarship" parameterType="map">
        DELETE
        FROM user_has_starship
        WHERE USER_USERNAME = #{USERNAME}
          AND STARSHIP_ID = #{ID}
    </delete>
    <update id="updateWarship" parameterType="map">
        UPDATE starship
        SET DUTY_OFFICER = #{DUTY_OFFICER}
        WHERE ID = #{ID}
    </update>
    <update id="updateVerified" parameterType="map">
        UPDATE starship
        SET verified = #{VERIFIED}
        WHERE id = #{ID}
    </update>
    <select id="findWarshipByWeapon" parameterType="map">
        SELECT *
        FROM starship
        WHERE ID IN (SELECT STARSHIP_ID
                     FROM starship_has_weapon
                     WHERE WEAPON_CODE = #{CODE})
    </select>
</mapper>
